.App {
  text-align: center;
  background-color: #282c34;
  color: snow;
 
}

.spacer {
  margin-bottom: 2%;
  color: tomato;
  font-size: larger;
}

.Pokemon-details {
  display: flex;
  flex-direction: column;
  background-color:snow;
  color: #070707;
}

img {
 
  height:10em;
  margin-top: 2%;
  
}

.neat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.grid-container {
  
  width: 100%;
  height: 100%;
  border: solid 1px black;
  background-color:snow;
  color: #070707;
  
}

.large-font {
  font-size: 30px;
  font-weight: bold;
  color: rgb(220, 20, 20);
}

.App-header {
  color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #ef5350;
}

.App-link {
  color: #61dafb;
}

ul { 
  list-style-type: none;
  padding: 1px;
}

.mod-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  color: rgb(220, 20, 20);
}

button {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-bottom: 1%;
}